In [1]:
import pandas as pd
import db_connect
import os

In [4]:
earth_weather_data = db_connect.earth_weather_data()

Successfully connected to the database!

In [8]:
if not os.path.exists("data"):
    os.makedirs("data")

In [27]:
earth_weather_data["date"] = pd.to_datetime(earth_weather_data["date"])

earth_weather_data["date"] = earth_weather_data["date"].dt.normalize()

# saving each locations data to a parquet file (1 observation per day, either first or mean)
agg_methods = {
    "latitude": "first",  
    "longitude": "first",  
    "temperature_2m": "mean", 
    "relative_humidity_2m": "mean",  
    "rain": "mean", 
    "direct_radiation_instant": "mean" 
}

for location in earth_weather_data["location"].unique():
    subset = earth_weather_data[earth_weather_data["location"] == location]
    grouped_subset = subset.groupby("date").agg(agg_methods).reset_index()
    grouped_subset.to_parquet(os.path.join("data", f'{location}.parquet.gzip'), index=False, compression="gzip")
    grouped_subset.to_csv(os.path.join('data', f'{location}.csv'), index=False)

In [2]:
mcmurdo = pd.read_parquet("C:/Users/joana/OneDrive/Desktop/HSLU/3rd_semester/DWL/NASA_Weather_Exploration/streamlit_app/data/McMurdo.parquet.gzip")

In [3]:
mcmurdo

,date,latitude,longitude,temperature_2m,relative_humidity_2m,rain,direct_radiation_instant
0,1940-01-01,-77.846,166.672,-6.906176,85.641865,0.000000,63.363642
1,1940-01-02,-77.846,166.672,-8.104583,81.323043,0.000000,296.825965
2,1940-01-03,-77.846,166.672,-10.015000,62.219739,0.000000,332.333239
3,1940-01-04,-77.846,166.672,-9.473333,55.378980,0.000000,234.747315
4,1940-01-05,-77.846,166.672,-6.477500,71.063149,0.000000,66.831084
...,...,...,...,...,...,...,...
30752,2024-03-12,-77.846,166.672,-19.117833,66.298144,0.004167,7.570455
30753,2024-03-13,-77.846,166.672,-22.930333,60.956876,0.000000,35.665480
30754,2024-03-14,-77.846,166.672,-23.286583,55.780878,0.000000,29.663469
30755,2024-03-15,-77.846,166.672,-21.094916,46.708742,0.000000,40.194769
30756,2024-03-16,-77.846,166.672,-21.011583,55.369000,0.000000,43.405627